.select-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0 0.3em;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
  width: 100%;
}

.chart {
  padding: 0.3em;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 800px;
}
