.select-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0 0.3em;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
  width: 100%;
}

.chart {
  padding: 0.3em;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 800px;
}

.ion-padding {
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-box {
  background-color: #e6f7ff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height:400px;
  min-width: 200px;
}

.info-box-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-box-value {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}